# UrDU Yoshlar Ittifoqi Portal - Google Sheets API
# Google Sheet URL: https://docs.google.com/spreadsheets/d/1uZuaLsSpWfMrpoRf_IU0xp1fzdxMDfYqurhpDTkjcXk/edit
VITE_GOOGLE_SHEETS_API_URL=https://script.google.com/macros/s/AKfycbywv_9lVBi7HZ-xTe01qhJbIAtEVZrIV2z1YrkPnO7JUO-7fj2v-sf5X1Z7yY6MaiRx6A/exec
