# UrDU Yoshlar Ittifoqi Portal - Google Sheets API
# Google Sheet URL: https://docs.google.com/spreadsheets/d/1uZuaLsSpWfMrpoRf_IU0xp1fzdxMDfYqurhpDTkjcXk/edit
VITE_GOOGLE_SHEETS_API_URL=https://script.google.com/macros/s/AKfycbwgo_M_x-LyeNzPVouJYvIKuFijSZ-Rmv_wesNCRwbIH8lf2mnI1rGf-3NBrMJpQyB1/exec
